# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.*
*.env

# =========================
# BUILD FILES
# =========================
target/
build/
*.jar
*.war
*.log

# =========================
# MAVEN
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# SPRING BOOT
# =========================
HELP.md

# =========================
# IDE FILES
# =========================

## IntelliJ
.idea/
*.iws
*.iml
*.ipr

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## VS Code
.vscode/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# DOCKER (optional)
# =========================
docker-compose.override.yml